/*
 *= require_tree .
 *= require_self
 */
//= require s3_direct_upload_progress_bars
// @import "bootstrap-sprockets";
@import 'bootstrap';
@import 'variables';

.alert {
  position: relative;
  margin: 0px 10px 10px 10px;
  width: 97%;

  &.inline {
    margin: 10px 0 20px 0;
  }
}

li a {
  text-decoration: none !important;
}

.container {
  padding: 0 40px;
  max-width: 900px;
  &.small {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .navbar-inverse {
    border: none;
  }


  .navbar-collapse {
    border: none;
    box-shadow: none;
  }
}

.navbar-inverse {
  .navbar-toggle {
    border: none;
  }

  a {
    color: #f1f1f1 !important;
    &:hover {
      color: white !important;
    }
  }
  .navbar-toggle {
    background-color: transparent !important;
    &:hover {
      background-color: transparent !important;
    }
  }
}

i.fa-green {
  color: $green !important;
}

i.fa-grey {
  color: #ccc !important;
}

i.fa-done {
  @extend i.fa-grey;
}

.highlighted {
  background-color: #FFFFb0;
  padding: 1px;
}

p, li {
  line-height: 1.85em;
}

.spacer {
  height: 5px;
  width: 100%;

  &.large {
    height: 25px;
  }
}

.right-spacer {
  margin-right: 10px;
}

.text-pic-shadow {
  text-shadow: 1px 1px 6px rgba(0,0,0,0.75) !important;
}

.text-pic-shadow-small {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.75) !important;
}

.intro-header .site-heading h1 {
  @extend .text-pic-shadow;
}

nav li a, .navbar-header {
  @extend .text-pic-shadow-small;
}

.tint {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
  }
}
.intro-header {
  min-height: 50vh;
  .site-heading, .post-heading, .page-heading {
    padding: 22vh 0;
    color: white;
  }

  &.short {
    min-height: 5vh;
    .site-heading, .post-heading, .page-heading {
      padding: 5vh 0;
    }
  }
}

.required {
  border: 3px solid black;
}

.error {
  border-color: red !important;
}

pre {
  white-space: pre-wrap;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: none;
}

.table th td {
  font-weight: bold !important;
}

.fill-width {
  width: 100%;
}

.center {
  margin: 0 auto;
}

.grey {
  color: $grey;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}