/*.file-input-field {
  color: black;
  width: 157px;
  height: 57px;
  overflow: hidden;

  input {
    display: block   !important;
    width: 157px     !important;
    height: 57px     !important;
    opacity: 0       !important;
    overflow: hidden !important;
  }
}*/