@import 'variables';
@import 'bootstrap';

table.form-table {
  width:     100%;
  max-width: 550px;

  .fileinput {
    width: 100%;
  }
}

table.padded-form {
  td {
    padding: 5px 0px;

    label {
      margin-bottom: 0px;
    }
  }
}

input,
label.btn.btn-default,
.fileinput-exists,
.fileinput-new {
  font-family: $sans-serif-font;
}

.form-actions.input-group-addon {
  .btn {
    margin:     0px;
    padding:    0px;
    background: none;
    border:     none;
  }
}

.input-group-addon.active, span.active {
  background-color: rgba($component-active-bg, 0.15)           !important;
  border:           1px solid rgba($component-active-bg, 0.35) !important;
  border-left:      1px solid rgba($component-active-bg, 0.35) !important;
  box-shadow:       none                                       !important;
}
