$footer-height: 75px;

* {
  margin: 0;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -130px auto; /* the bottom margin is the negative value of the footer's height */
}

footer, .footer, .push {
  height: $footer-height; /* .push must be the same height as .footer */

  p {
    color: #aaa !important;
  }

  a {
    color: #ccc;
    &:hover {
      color: #aaa;
    }
  }
}