@import 'variables';

table {
  &.padded td {
    padding: 3px;
  }

  &.valign-top tr td {
    vertical-align: top;
  }

  td.labeled {
    font-weight: bolder;
    text-align: right;
    padding-right: 20px !important;
  }

  &.full-width {
    width: 100%;
  }

  &.results {
    > tbody > tr > td {
      padding: 8px 3px;
    }
  }
}

.metadata {
  background-color: $lightest-grey;
  padding:          15px 0;
}

.label.label-large {
  font-size: 0.9em;
}

h1.tagfinder-execution-info {
  margin-top:     10px;
  margin-bottom:  30px;
}

pre, pre * {
  font-family: $monospace-font;
}